# UserVerification.sol

The contract allows storing information about a third-party verified service linked to the user's Smart Account. The verified information is stored in the form of Soulbound. Each deployed instance of the contract is responsible for one service, for example, Google. Developers can choose services suitable for their application or create their own service.

[github.com/DappyKit/contracts/blob/master/contracts/UserVerification.sol](https://github.com/DappyKit/contracts/blob/master/contracts/UserVerification.sol)
